<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Sistema JEJA</title>
</head>
<body>
    <h1>Bienvenido, {{ session['vendedor'] }}</h1>
    <form method="POST" action="/agregar_venta" style="width: 400px;">
        <h2>Registrar Venta</h2>
        <input type="text" name="producto" placeholder="Nombre del Producto" required>
        <input type="number" name="precio" placeholder="Precio" required>
        <button type="submit">GUARDAR VENTA</button>
    </form>
    <br>
    <a href="/logout" style="color:red;">Cerrar Sesión</a>
</body>
</html>
