<!DOCTYPE html>
<html>
<body>
    <h2>Registro de Nuevo Usuario</h2>
    <form method="POST">
        <input type="text" name="nombre" placeholder="Nombre(s)" required><br>
        <input type="text" name="ap_paterno" placeholder="Apellido Paterno" required><br>
        <input type="text" name="ap_materno" placeholder="Apellido Materno" required><br>
        <input type="text" name="celular" placeholder="Número de Celular" required><br>
        <input type="password" name="password" placeholder="Crear Contraseña" required><br>
        <button type="submit">Finalizar Registro</button>
    </form>
</body>
</html>
