<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro JEJA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="jeja-container">
        <span class="j1">J</span><span class="j2">E</span><span class="j3">J</span><span class="j4">A</span>
    </div>
    <form method="POST">
        <h2>Registro de Usuario</h2>
        <input type="text" name="nombre" placeholder="Nombre(s)" required>
        <input type="text" name="ap_paterno" placeholder="Apellido Paterno" required>
        <input type="text" name="ap_materno" placeholder="Apellido Materno" required>
        <input type="text" name="celular" placeholder="Número de Celular" required>
        <input type="password" name="password" placeholder="Crear Contraseña" required>
        <button type="submit">CREAR CUENTA</button>
        <p style="text-align:center; margin-top:15px;">
            <a href="/" style="color:white; text-decoration:none;">¿Ya tienes cuenta? Inicia sesión</a>
        </p>
    </form>
</body>
</html>
